.app {
    background: #f1f1f1; /* O grid deve ser inserido no elemento pai */
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: 
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-columns: auto; /* 1 coluna no automático */
    grid-auto-rows: 50px auto auto; /* 3 linhas  */
}


.cabecalho {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    grid-area: cabecalho;
}
 
.conteudo {
    padding: 0 2rem;
    grid-area: conteudo;
}

.rodape {
    background: #fdfdfd;
    color: #333333;
    font-size: .8rem;
    padding: 1rem;
    grid-area: rodape;
    text-align: center;
}