@import url('https://fonts.googleapis.com/css2? family= Pacifico & display=swap');
.quem-somos__titulo {
  color: #8D0606;
  font-family: 'Pacifico', cursiva;
  font-size: 3.1875rem;
  margin-bottom: 1rem;
}